<div class="background-side-bar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Pacientes</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Leitos</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Equipe</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Solicitações</a>
        </li>
    </ul>
</div>