<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/template.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body>
    <header class="system-name">
        <h1>Gerenciamento de Leitos Hospitalares</h1>
    </header>
    <div class="side-nav">
        <a class="nav-item" href=""><span class="material-symbols-outlined">
                dashboard
            </span>Dashboard</a>
        <a class="nav-item" href=""><span class="material-symbols-outlined">
            groups
        </span>Pacientes</a>
        <a class="nav-item" href=""><span class="material-symbols-outlined">
            hotel
        </span>Leitos</a>
        <a class="nav-item" href=""><span class="material-symbols-outlined">
            medical_information
        </span>Equipe</a>
        <a class="nav-item" href=""><span class="material-symbols-outlined">
            room_service
        </span>Solicitações</a>
        <div class="logo">
            <img src="/images/logo-ufcspa.png" width="220">
        </div>
    </div>
</body>

</html>