* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend";
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    height: 100%;
}

.label{
    font-weight: bold;
}

.text{
    font-weight: normal;
}

.sidebar-div{
    width: 20rem;
    height: 100%;
    background-color: #EEEEEE;
}

.content-div{
    width: 100rem;
}

.legend-div {
    margin: 20px;
    justify-content: center;
    gap: 60px;
}

.legend-item {
    align-items: center;
    gap: 10px;
}

.legend-color-div {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.legend-text {
    font-weight: bold;
    font-size: 32px;
    gap: 30px;
}

.modal-content {
    border-radius: 25px;
}

.modal-title {
    font-weight: bold;
    font-size: 28px;
    width: 100%;
    text-align: center;
}

.modal-header {
    padding: 10px 15px 10px 15px;
    color: #FFFFFF;
    border-radius: 25px;
}

.btn-close-modal {
    color: #FFFFFF;
    background: transparent;
    border: none;
    line-height: 1;
}

.modal-body span{
    font-size: 24px;
}

textarea {
  border: 2px solid #EEEEEE;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

textarea:focus {
  outline: none;
  border-color: #2A7DC0;
  box-shadow: 0 0 5px rgba(42, 125, 192, 0.4);
}

input {
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid #ccc;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  outline: none;
}

input:focus {
  border-color: #2A7DC0;
  box-shadow: 0 0 5px rgba(42, 125, 192, 0.5);
}

select {
  border-radius: 10px;
  border: 2px solid #ccc;
  font-size: 20px;
  background-color: white;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  outline: none;
}

select:focus {
  border-color: #2A7DC0;
  box-shadow: 0 0 5px rgba(42, 125, 192, 0.4);
}

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}