.cards-div{
    justify-content: center;
    gap: 20px;
}

.cards-div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin: 20px 0 10px 0;
    height: 10rem;
    width: 22rem;
    border-radius: 15px;
}

.total-card{
    background-color: #2A7DC0;
}

.available-card{
    background-color: #4CAF50;
}

.maintenance-card{
    background-color: #E2C000;
}

.occupied-card{
    background-color: #E53935;
}

.requests-graphic-div{
    justify-content: center;
    gap: 20px;
}

.requests-graphic-div div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 10px 0 10px 0;
    width: 40rem;
    height: 40rem;  
    background-color: #EEEEEE;
}