.green-border {
    border: solid 5px #4CAF50;
}

.yellow-border {
    border: solid 5px #E2C000;
}

.red-border {
    border: solid 5px #E53935;
}

.team-div {
    padding: 15px 0 15px;
    overflow-y: auto;
    scrollbar-width: none;
    height: 48rem;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.professional {
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    flex: 0 0 48%;
    height: 18rem;
    background-color: #FFFFFF;
}

.photo-div {
    padding: 20px;
    align-items: center;
}

.border-photo {
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    border-radius: 100px;
}

.photo.material-symbols-outlined {
    color: #1D436F;
    font-size: 160px;
}

.professional-infos {
    justify-content: center;
}

.info-label {
    font-weight: bold;
}

.info-label span {
    font-weight: normal;
}

.photo-green-border {
    border: solid 10px #4CAF50;
}

.photo-red-border {
    border: solid 10px #E53935;
}

.photo-yellow-border {
    border: solid 10px #E2C000;
}