<div class="cards-div d-flex flex-row">
    <div class="total-card">
        <h1><%= total_beds %></h1>
        <h2>Total de Leitos</h2>
    </div>
    <div class="available-card">
        <h1><%= available_beds %></h1>
        <h2>Leitos Disponíveis</h2>
    </div>
    <div class="maintenance-card">
        <h1><%= maintenance_beds %></h1>
        <h2>Leitos em Manutenção</h2>
    </div>
    <div class="occupied-card">
        <h1><%= occupied_beds %></h1>
        <h2>Leitos Ocupados</h2>
    </div>
</div>
<div class="requests-graphic-div d-flex flex-row">
    <div class="requests">
        <h1>A</h1>
    </div>
    <div class="graphic">
        <h1>B</h1>
    </div>
</div>