<div class="cards-div d-flex flex-row">
    <div class="total">
        <h1>1</h1>
        <h2>Total de Leitos</h2>
    </div>
    <div class="avaiable">
        <h1>2</h1>
        <h2>Leitos Disponíveis</h2>
    </div>
    <div class="maintenance">
        <h1>3</h1>
        <h2>Leitos em Manutenção</h2>
    </div>
    <div class="occupied">
        <h1>4</h1>
        <h2>Leitos Ocupados</h2>
    </div>
</div>
<div class="requests-graphic-div d-flex flex-row">
    <div class="requests">
        <h1>A</h1>
    </div>
    <div class="graphic">
        <h1>B</h1>
    </div>
</div>