<div class="hospital-beds-div d-flex">
    <div class="hospital-beds">
        <div class="title-div avaiable-title d-flex">
            <span class="title-text">Disponível</span>
        </div>
        <div class="scroll-bed-div">
            <div class="bed-cards-div d-flex">
                <div class="bed-card avaiable-bed-card d-flex flex-column" role="button" data-bs-toggle="modal"
                    data-bs-target="#bedModal">
                    <span class="label">Nº Leito: <span class="text">123456</span></span>
                    <span class="label">Setor: <span class="text">Enfermaria</span></span>
                </div>
            </div>
            <div class="bed-cards-div d-flex">
                <div class="bed-card avaiable-bed-card d-flex flex-column" role="button" data-bs-toggle="modal"
                    data-bs-target="#bedModal">
                    <span class="label">Nº Leito: <span class="text">123456</span></span>
                    <span class="label">Setor: <span class="text">Enfermaria</span></span>
                </div>
            </div>
            <div class="bed-cards-div d-flex">
                <div class="bed-card avaiable-bed-card d-flex flex-column" role="button" data-bs-toggle="modal"
                    data-bs-target="#bedModal">
                    <span class="label">Nº Leito: <span class="text">123456</span></span>
                    <span class="label">Setor: <span class="text">Enfermaria</span></span>
                </div>
            </div>
            <div class="bed-cards-div d-flex">
                <div class="bed-card avaiable-bed-card d-flex flex-column" role="button" data-bs-toggle="modal"
                    data-bs-target="#bedModal">
                    <span class="label">Nº Leito: <span class="text">123456</span></span>
                    <span class="label">Setor: <span class="text">Enfermaria</span></span>
                </div>
            </div>
            <div class="bed-cards-div d-flex">
                <div class="bed-card avaiable-bed-card d-flex flex-column" role="button" data-bs-toggle="modal"
                    data-bs-target="#bedModal">
                    <span class="label">Nº Leito: <span class="text">123456</span></span>
                    <span class="label">Setor: <span class="text">Enfermaria</span></span>
                </div>
            </div>
            <div class="bed-cards-div d-flex">
                <div class="bed-card avaiable-bed-card d-flex flex-column" role="button" data-bs-toggle="modal"
                    data-bs-target="#bedModal">
                    <span class="label">Nº Leito: <span class="text">123456</span></span>
                    <span class="label">Setor: <span class="text">Enfermaria</span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="hospital-beds">
        <div class="title-div maintenance-title d-flex">
            <span class="title-text">Em Manutenção</span>
        </div>
        <div class="scroll-bed-div">
            <div class="bed-cards-div d-flex">
                <div class="bed-card maintenance-bed-card d-flex flex-column">
                    <span class="label">Nº Leito: <span class="text">654321</span></span>
                    <span class="label">Setor: <span class="text">Enfermaria</span></span>
                    <span class="label">Motivo: <span class="text">Equipamento Quebrado</span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="hospital-beds">
        <div class="title-div occupied-title d-flex">
            <span class="title-text">Ocupado</span>
        </div>
        <div class="scroll-bed-div">
            <div class="bed-cards-div d-flex">
                <div class="bed-card occupied-bed-card d-flex flex-column">
                    <span class="label">Nº Leito: <span class="text">162435</span></span>
                    <span class="label">Setor: <span class="text">Enfermaria</span></span>
                    <span class="label">Paciente: <span class="text">Beltrano Costa Silva Junior Pereira</span></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bedModal" tabindex="-1" aria-labelledby="bedModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header avaiable-title">
                <span class="modal-title" id="bedModalLabel">Leito X</span>
                <button type="button" class="btn-close-modal" data-bs-dismiss="modal" aria-label="Fechar">
                    <span class="material-symbols-outlined">close</span>
                </button>
            </div>
            <div class="modal-body">
                Aqui vão os detalhes do leito.
            </div>
        </div>
    </div>
</div>