<div class="hospital-beds-div d-flex">
    <div class="hospital-beds">
        <div class="title-div available-title d-flex">
            <span class="title-text">Disponível</span>
        </div>
        <div class="scroll-bed-div">
            <div class="bed-cards-div d-flex">
                <div class="bed-card available-bed-card d-flex flex-column" role="button" data-bs-toggle="modal"
                    data-bs-target="#modal-available">
                    <span class="label">Nº Leito: <span class="text">123456</span></span>
                    <span class="label">Setor: <span class="text">Enfermaria</span></span>
                </div>
            </div>
            <div class="bed-cards-div d-flex">
                <div class="bed-card available-bed-card d-flex flex-column" role="button" data-bs-toggle="modal"
                    data-bs-target="#modal-available">
                    <span class="label">Nº Leito: <span class="text">123456</span></span>
                    <span class="label">Setor: <span class="text">Enfermaria</span></span>
                </div>
            </div>
            <div class="bed-cards-div d-flex">
                <div class="bed-card available-bed-card d-flex flex-column" role="button" data-bs-toggle="modal"
                    data-bs-target="#modal-available">
                    <span class="label">Nº Leito: <span class="text">123456</span></span>
                    <span class="label">Setor: <span class="text">Enfermaria</span></span>
                </div>
            </div>
            <div class="bed-cards-div d-flex">
                <div class="bed-card available-bed-card d-flex flex-column" role="button" data-bs-toggle="modal"
                    data-bs-target="#modal-available">
                    <span class="label">Nº Leito: <span class="text">123456</span></span>
                    <span class="label">Setor: <span class="text">Enfermaria</span></span>
                </div>
            </div>
            <div class="bed-cards-div d-flex">
                <div class="bed-card available-bed-card d-flex flex-column" role="button" data-bs-toggle="modal"
                    data-bs-target="#modal-available">
                    <span class="label">Nº Leito: <span class="text">123456</span></span>
                    <span class="label">Setor: <span class="text">Enfermaria</span></span>
                </div>
            </div>
            <div class="bed-cards-div d-flex">
                <div class="bed-card available-bed-card d-flex flex-column" role="button" data-bs-toggle="modal"
                    data-bs-target="#modal-available">
                    <span class="label">Nº Leito: <span class="text">123456</span></span>
                    <span class="label">Setor: <span class="text">Enfermaria</span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="hospital-beds">
        <div class="title-div maintenance-title d-flex">
            <span class="title-text">Em Manutenção</span>
        </div>
        <div class="scroll-bed-div">
            <div class="bed-cards-div d-flex">
                <div class="bed-card maintenance-bed-card d-flex flex-column" role="button" data-bs-toggle="modal"
                    data-bs-target="#modal-maintenance">
                    <span class="label">Nº Leito: <span class="text">654321</span></span>
                    <span class="label">Setor: <span class="text">Enfermaria</span></span>
                    <span class="label">Motivo: <span class="text">Equipamento Quebrado</span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="hospital-beds">
        <div class="title-div occupied-title d-flex">
            <span class="title-text">Ocupado</span>
        </div>
        <div class="scroll-bed-div">
            <div class="bed-cards-div d-flex gap-2">
                <div class="bed-card occupied-bed-card d-flex flex-column" role="button" data-bs-toggle="modal" data-bs-target="#modal-occupied">
                    <span class="label">Nº Leito: <span class="text">162435</span></span>
                    <span class="label">Setor: <span class="text">Enfermaria</span></span>
                    <span class="label">Paciente: <span class="text">Beltrano Costa Silva Junior Pereira</span></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-available" tabindex="-1" aria-labelledby="bedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header available-title">
                <span class="modal-title">Leito 123456</span>
                <button type="button" class="btn-close-modal" data-bs-dismiss="modal" aria-label="Fechar">
                    <span class="material-symbols-outlined">close</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column gap-2">
                <span class="label">Status: <span class="text">Disponível</span></span>
                <span class="label">Setor: <span class="text">Enfermaria</span></span>
                <span class="label">Última Limpeza: <span class="text">03/06/2025 15:34 </span></span>
                <span class="label">Observações:</span>
                <div class="observations-div">
                    <span> Leito com aparelho X disponível</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-maintenance" tabindex="-1" aria-labelledby="bedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header maintenance-title">
                <span class="modal-title">Leito 654321</span>
                <button type="button" class="btn-close-modal" data-bs-dismiss="modal" aria-label="Fechar">
                    <span class="material-symbols-outlined">close</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column gap-2">
                <span class="label">Status: <span class="text">Em Manutenção</span></span>
                <span class="label">Setor: <span class="text">Enfermaria</span></span>
                <span class="label">Última Limpeza: <span class="text">03/06/2025 15:34 </span></span>
                <span class="label">Motivo: <span class="text">Equipamento Quebrado</span></span>
                <span class="label">Responsável: <span class="text">Fulano de Tal</span></span>
                <span class="label">Previsão: <span class="text">3 Dias</span></span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-occupied" tabindex="-1" aria-labelledby="bedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header occupied-title">
                <span class="modal-title">Leito 162435</span>
                <button type="button" class="btn-close-modal" data-bs-dismiss="modal" aria-label="Fechar">
                    <span class="material-symbols-outlined">close</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column gap-2">
                <span class="label">Status: <span class="text">Ocupado</span></span>
                <span class="label">Setor: <span class="text">Enfermaria</span></span>
                <span class="label">Última Limpeza: <span class="text">03/06/2025 15:34 </span></span>
                <span class="label">Paciente: <span class="text">Ciclano da Silva</span></span>
                <span class="label">Tempo de Ocupação: <span class="text">4 Dias</span></span>
                <span class="label">Motivo da Internação: <span class="text">Pneumonia</span></span>
                <span class="label">Gravidade: <span class="text modal-estable">Estável</span></span>
            </div>
        </div>
    </div>
</div>
