<div class="legend-div d-flex">
    <div class="legend-item d-flex">
        <div class="orange-circle legend-color-div"></div>
        <span class="legend-text">Manutenção</span>
    </div>
    <div class="legend-item d-flex">
        <div class="purple-circle legend-color-div"></div>
        <span class="legend-text">Limpeza</span>
    </div>
    <div class="legend-item d-flex">
        <div class="light-green-circle legend-color-div"></div>
        <span class="legend-text">Transferência de Paciente</span>
    </div>
    <div class="legend-item d-flex">
        <div class="blue-circle legend-color-div"></div>
        <span class="legend-text">Medicar Paciente</span>
    </div>
</div>
<h2 class="requests-list d-flex">Lista de Solicitações</h2>
<div class="requests-div d-flex">
    <div class="requests-background d-flex flex-column">
        <div class="request request-medicate-patient d-flex flex-column">
            <div class="request-summary d-flex flex-row">
                <span class="type-label label">Tipo: <span class="text">Medicar Paciente</span></span>
                <span class="professional-label label">Profissional: <span class="text">Fulano da Silva</span></span>
                <span class="bed-label label">Leito: <span class="text">123</span></span>
                <div class="edit-delete-div d-flex flex-row">
                    <span onclick=editRequest() class="edit-icon material-symbols-outlined">edit</span>
                    <span onclick=deleteRequest() class="delete-icon material-symbols-outlined">delete</span>
                </div>
            </div>
            <div class="request-details d-flex">
                <span class="observations-label label">Observações: <span class="text">Paciente com dificuldade para
                        ingerir medicamentos grandes.</span></span>
            </div>
        </div>
        <div class="request request-maintenance d-flex flex-column">
            <div class="request-summary d-flex flex-row">
                <span class="type-label label">Tipo: <span class="text">Medicar Paciente</span></span>
                <span class="professional-label label">Profissional: <span class="text">Fulano da Silva</span></span>
                <span class="bed-label label">Leito: <span class="text">123</span></span>
                <div class="edit-delete-div d-flex flex-row">
                    <span onclick=editRequest() class="edit-icon material-symbols-outlined">edit</span>
                    <span onclick=deleteRequest() class="delete-icon material-symbols-outlined">delete</span>
                </div>
            </div>
            <div class="request-details d-flex">
                <span class="observations-label label">Observações: <span class="text">Paciente com dificuldade para
                        ingerir medicamentos grandes.</span></span>
            </div>
        </div>
        <div class="request request-cleaning d-flex flex-column">
            <div class="request-summary d-flex flex-row">
                <span class="type-label label">Tipo: <span class="text">Medicar Paciente</span></span>
                <span class="professional-label label">Profissional: <span class="text">Fulano da Silva</span></span>
                <span class="bed-label label">Leito: <span class="text">123</span></span>
                <div class="edit-delete-div d-flex flex-row">
                    <span onclick=editRequest() class="edit-icon material-symbols-outlined">edit</span>
                    <span onclick=deleteRequest() class="delete-icon material-symbols-outlined">delete</span>
                </div>
            </div>
            <div class="request-details d-flex">
                <span class="observations-label label">Observações: <span class="text">Paciente com dificuldade para
                        ingerir medicamentos grandes.</span></span>
            </div>
        </div>
        <div class="request request-patient-transfer d-flex flex-column">
            <div class="request-summary d-flex flex-row">
                <span class="type-label label">Tipo: <span class="text">Medicar Paciente</span></span>
                <span class="professional-label label">Profissional: <span class="text">Fulano da Silva</span></span>
                <span class="bed-label label">Leito: <span class="text">123</span></span>
                <div class="edit-delete-div d-flex flex-row">
                    <span class="edit-icon material-symbols-outlined">edit</span>
                    <span class="delete-icon material-symbols-outlined">delete</span>
                </div>
            </div>
            <div class="request-details d-flex">
                <span class="observations-label label">Observações: <span class="text">Paciente com dificuldade para ingerir medicamentos grandes.</span></span>
            </div>
        </div>
    </div>
</div>
<div class="new-request-button-div d-flex">
    <button data-bs-toggle="modal" data-bs-target="#modal-new-request"
        class="new-request-button d-flex">
        <h3>Nova Solicitação</h3>
    </button>
</div>

<div class="modal fade" id="modal-new-request" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header new-request-title">
                <span class="modal-title" id="bedModalLabel">Nova Solicitação</span>
                <button type="button" class="btn-close-modal" data-bs-dismiss="modal" aria-label="Fechar">
                    <span class="material-symbols-outlined">close</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column gap-2">
                    <span class="label">Tipo
                        <select required class="type-select" name="" id="type-select">
                            <option value="">Selecione</option>
                            <option value="maintenance">Manutenção</option>
                            <option value="cleaning">Limpeza</option>
                            <option value="patient-transfer">Transferência de Paciente</option>
                            <option value="medicate-patient">Medicar Paciente</option>
                        </select></span>
                    <span class="label">Leito: <input required class="bed-input" id="bed-input" type="number"></span>
                <span class="label d-flex flex-column">Profissional 
                <select required class="professional-select" name="" id="professional-select">
                    <option value="">Selecione</option>
                    <option value="1">Fulano da Silva</option>
                    <option value="2">Ciclano Pereira</option>
                    <option value="3">Beltrano Costa e Silva Junior de Tal</option>
                    <option value="4">Fulano Antônio dos Santos da Silva</option>
                </select>
                </span>
                <span class="label">Observações:</span>
                <textarea class="observations-text-area" name="" id="observations-text-area"></textarea>
                <div class="new-request-buttons-div d-flex flex-row gap-3">
                    <button onclick="clearButton()" class="clean-button">Limpar</button>
                    <button class="confirm-button">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function clearButton(){
        const type = document.getElementById('type-select');
        const bed = document.getElementById('bed-input');
        const professional = document.getElementById('professional-select');
        const textArea = document.getElementById('observations-text-area');

        type.value = "";
        bed.value = "";
        professional.value = "";
        textArea.value = "";
    }
</script>